.L-img {
    width: 100px;
    object-fit: cover;
}

.L-radio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.L-radio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.L-radio-item i {
    font-size: 2rem;
    /* color: #2563eb; */
}

.L-radio-item img {
    width: 50px;
    object-fit: cover;
}

/* .L-tags {
    display: flex;
} */

.L-tag {
    padding: 2px 10px;
    text-align: center;
    background-color: rgb(115, 193, 207);
    color: #fff;
    border-radius: 10px;
}